<div class="header-background">
  <i class="fa fa-angle-left fa-2x left" ng-click='goBackToDashboard()'></i>
  <h1 class="heading">{{blueprint.title}}</h1>
</div>
<div class="clearfix"></div>
<div>
  <img ng-src={{blueprint.icon_url}} class="large-logo center">
  <div class="clearfix" />
  <h1 class="center">{{blueprint.title}}</h1>
  <h1 class="center"><b>{{blueprint.possible_earnings_description}}</b></h1>
</div>
<div>
  <p class="center">{{blueprint.description}}</p>
</div>
<div ng-if='blueprint.incentive_description'>
  <p class="center">{{blueprint.incentive_description}}</p>
  <table class="center" ng-if='blueprint.goals.length != 0'>
    <tr>
      <th class='col-sm-8 center-sm'>GOALS</th>
      <th class='col-sm-4 center-sm'>INCENTIVE</th>
    </tr>
    <tr ng-repeat="goal in goals">
      <td><p class="col-sm-8">{{goal.title}}</p></td>
      <td><p class="col-sm-4 right">{{goal.incentive_value}}</p></td>
    </tr>
    <tr>
      <td><p class="center">Total Incentives: </p></td>
      <td><p class="right">{{totalIncentive}}</p></td>
    </tr>
  </table>
</div>
<div ng-if='!blueprint.incentive_description'>
  <p class="center"><i>No rewards/earnings found.</i></p>
</div>
